.mat-column-action {
    width: 25px;
    text-align: center;
    font-weight: bold;
  }

  .mat-column-audio {
    width: 25px;
    text-align: center;
    font-weight: bold;
  }

  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin:auto;
  }

  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }


  .text_shadow{
    font-weight: bold;
    letter-spacing: 2px;
     text-shadow: 2px 2px 5px gray;
  }
  